<!DOCTYPE html>
<html>
<head>
  <title>Create a New Campus Location</title>
</head>
<body>
  <form action="/locations/new" method="POST">
    <input type="text" name="new_campus" placeholder="City">
    <button type="submit">Save</button>
  </form>
</body>
</html>